---
title: 404 Page not found
layout: main
is404: true
noIndex: true
permalink: /error-pages/404/
eleventyExcludeFromCollections: true
---

<h1 style="margin-bottom: 5px;">Error 404! 😱</h1>
<h2 style="margin-bottom: 15px;">Page not found </h2>
<p>An error occured and the requested resource could not be found</p>
<p>Go to <a href="{{ '/' | url }}">home page?</a></p>